@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Raleway:wght@400;500;700&family=Roboto:wght@900&display=swap');

*{box-sizing: border-box  ;
    margin: 0;
}

header {
    display: grid;
    height: 144px;
    background-color: #30343F;
    ;
    }

nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2%;
}

figure{
    display: flex;
    gap: 20.84px;
    height: 65.19194793701172px;
    max-width: 372px;   
}
.logo{
    max-width: 80.23529815673828px;
    max-height: 65.19194793701172px;
}
.logo__texto{
    margin: auto 0;
    max-width: 270.9243469238281px;
    max-height: 30.308128356933594px;
}
.botonera{
    display: flex;
    width: 406px;
    height: 31px;
    align-items: center;
    justify-content: space-between;
}
.botonera__tipografia{
    font-family: 'Raleway', sans-serif;
    max-height: 23px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;

}

.banner{
    display: flex;
    padding: 4%;
    background-image: url(./multimedia/funkos-banner.webp);
    background-size: cover;
    height: 388px;
    width: auto;
    object-fit: cover;
    align-items: center;
    gap:5%;

}
.banner__article{
    display: flex;
    width: 397px;
    height: 168px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

}
.banner__h3{
    font-family: Raleway;
font-size: 38px;
font-weight: 700;
color: #FFFFFF;

}


.banner__p{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 2%;
}

.banner__button{
    width: 211px;
    height: 47px;
    font-family: Inter;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    margin-top: 13%;

}
.cards{
    display: grid;
    gap: 1%;
    justify-content:space-evenly
}

.card {
    display: flex;
    width: 1220px;
    justify-content: space-evenly;  
}
.card__article{
    display: flex;
    height: 645px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3%;
}
.card__h3{
    width: 441px;
    height: 108px;    
    font-family: Raleway;
    font-size: 46px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;

    



}

.card__p{
    width: 458px;
    height: 56px;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

    
}
hr {
    width: 645px;
    height: 3px;
    background-color: red;
    border: none;
  }
.card__button{
    width: 291.8085021972656px;
    height: 65px;
    border-radius: 50px;
    background: #30343F;
    border: none;
    margin-top: 7%;
    border-top-style:solid red;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;


}
.invertir{
    flex-direction:row-reverse
}