@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Raleway:wght@400;500;700&family=Roboto:wght@900&display=swap');

*,
*::before,
*::after{  
    box-sizing: border-box;
    }

:root{
    --primary-color-solid:#FF3333;
    --primary-color-900:rgba(255, 51, 51,90);
    --primary-color-500:rgba(255, 51, 51,50);
    --primary-color-300:rgba(255, 51, 51,30);

    --secundary-color-solid:#1d84b5;
    --secundary-color-900:rgba(29, 132, 181,90);
    --secundary-color-500:rgba(29, 132, 181,50);
    --secundary-color-300:rgba(29, 132, 181,30);

    --dark-color-solid:#1f1f1f;
    --dark-color-900:rgba(31, 31, 31,90);
    --dark-color-500:rgba(31, 31, 31,50);
    --dark-color-300:rgba(31, 31, 31,30);

    --light-bg-color:#FAFAFF;
    --dark-bg-color:#30343F;    
    --light-font-color:#FFFFFF;

    --primary-font:'Inter', sans-serif;
    --secundary-font:'Raleway', sans-serif;

    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em ;
    --font-large: 2.4em ;
    --font-medium: 1.8em ;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    --spacing-128: 12.8rem ;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

html{
    font-size: 62.5%;
    font-family: var(--primary-font);
}

body{
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

@layer header{
    
    nav{
        display: flex;
        align-items: center;
        padding: 0.5rem;
        background-color: var(--dark-bg-color);
    }

    figure{
            display: flex;
            justify-content: flex-start;
            width: 50vw;
            
            &>a{
                display: flex;
                align-items: center;

                &>img{
                    padding: .5rem;
                }
            }
    }

    .botonera{
        display: flex;
        justify-content: end;
        flex-wrap: wrap;
        align-items: center;
        width: 50vw;
        flex-direction: row;
        gap: 3rem;
        padding: 1rem;
        margin-right: 3rem;

        &>li{
            list-style: none;

            &>a{
                color: var(--light-font-color);
                font-size: 12px;

                &>img{
                    width: 20px;
                }
            }
        }
        
    }
}

@layer main{



} 