.collection{
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    align-items: center;
    padding: var(--spacing-16) 0;
}

.collection:nth-child(2) .collection__cover{
    order:-1;
}

.collection__content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: start;
}

.collection__title{
    font-family: var(--secundary-font);
    font-size: var(--font-display);
    font-weight: 500;
}

.collection__text{
    font-family: var(--secundary-font);
    font-size: var(--font-large);
    font-weight: 300;
    border-bottom: 2px solid var(--primary-color-solid);
    padding-bottom: var(--spacing-20);
}
.collection__link{
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--dark-color-solid);
    color: var(--light-font-color);
    padding: var(--spacing-16) var(--spacing-36);
    border-radius: 50px;
    font-weight: 500;
    transition: background .3s ease-in-out;
}

.collection__link:hover{
    background-color: var(--primary-color-900);
}

