/*body {
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family:Verdana;
    margin: 0;
}*/
.contform {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family:Verdana;
    margin: 0;
}

form {
    width: 50%;
    background-color: rgb(132, 238, 103);
    padding: 1em 3.5em;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    padding: 0.5em;
    text-align: center;
    font-weight:bold; 
    color: rgb(2, 93, 17);
    font-size: 2.2em;
}

label,
input,
textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0.3em;
    font-size: 1.5em;
    font-family:Verdana;
}

input,
textarea {
    background-color: rgba(104, 106, 106, 0.3);
    border: 2px solid transparent;
    border-bottom-color: #bbb;
    padding: 0.75em;
    margin: 0.5em 0 1em;
    color: white;
    outline: 0;
    font-size: 1.3em;
}

input:invalid:focus,
textarea:invalid:focus {
    border-bottom: 2px solid #ff000d;
}

input:valid:focus,
textarea:valid:focus {
    border-bottom: 2px solid #0ec72a;
}

input:focus,
textarea:focus {
    border-bottom: 2px solid #8e999a;
    background-color: rgb(104, 106, 106);
}

.mensaje_error {
	color: #ef2929;
	display: block;
	text-align: center;
	font-size: 15px;
	font-style:normal;
	margin: 3px auto;
    font-weight:bold;
}

.btn {
    background-color: rgb(9, 125, 59);
    color: white;
    cursor: pointer;
    padding: 0.8em;
    margin-top: 1em;
    font-size: 1.6em;
    font-weight:bold;
    border-radius: 1em;
}