<!DOCTYPE html>
<html lang="en">
   <%-include('partials/head.ejs', {titulo}) %>
  <body>
    <%- include('partials/header') -%>
    <main>CONTACTO</main>

    <%- include('partials/footer') -%>
  </body>
</html>
