<!DOCTYPE html>
<html lang="en">
  <%-include('partials/head.ejs') %>

  <body>
    <%- include('partials/admin_header') -%>

    <main class="main-create"></main>

    <%- include('partials/admin_footer') -%>
  </body>
</html>
