<!DOCTYPE html>
<html lang="en">
  <%-include('partials/head.ejs') %>

  <body>
    <%- include('partials/admin_header') -%>

    <main class="container">
      <form
        action="/admin/create"
        method="POST"
        enctype="multipart/form-data"
        class="container-item"
      >
        <h3 class="h3-title">CREAR NUEVO ITEM</h3>
        <div class="contenedor-select">
          <div class="edit-div">
            Categoria :
            <select class="edit-select">
              <option name="collection_name">FUNKOS</option>
              <option name="collection_name">REMERAS</option>
              <option name="collection_name">LLAVEROS</option>
            </select>
          </div>
          <div class="edit-div">
            Licencia :
            <select class="edit-select">
              <option name="collection_id">POKEMON</option>
              <option name="collection_id">HARRY POTTER</option>
              <option name="collection_id">STARWARS</option>
            </select>
          </div>
        </div>
        <div class="nombre_del_producto">
          Nombre del producto:
          <input
            class="nombre_del_producto__input"
            type="text"
            placeholder="Kakashi Hatake Shippuden Saga"
            name="product_name"
          />
        </div>
        <textarea
          class="descripcion-textarea"
          name="product_description"
          id="descripcion-textarea"
          cols="30"
          rows="10"
          placeholder="Descripción del producto"
        ></textarea>
        <div class="contenedor-datos">
          <div class="cpk">
            SKU:
            <input
              name="product_sku"
              class="cpk-input"
              type="text"
              placeholder="SSK111AB001"
            />
          </div>
          <div class="cpk">
            Precio:
            <input
              name="product_price"
              class="cpk-input"
              type="number"
              placeholder="$ 0.000,00"
            />
          </div>
          <div class="cpk">
            Stock:
            <input
              name="product_stock"
              class="cpk-input stock"
              type="number"
              placeholder="0"
            />
          </div>
        </div>
        <div class="contenedor-datos">
          <div class="cpk">
            Descuento:
            <input
              name?="dues"
              class="cpk-input"
              type="number"
              placeholder="0%"
            />
          </div>
          <div class="cpk">
            Cuotas :
            <select class="edit-select">
              <option>3 Cuotas sin interés</option>
              <option>6 Cuotas sin interés</option>
              <option>9 Cuotas sin interés</option>
              <option>12 Cuotas sin interés</option>
              <option>24 Cuotas sin interés</option>
            </select>
          </div>
        </div>

        <label for="imagen" class="contenedor-img">
          Imágenes:
          <input
            multiple
            type="file"
            class="archivo"
            name="imagen"
            id="imagen"
          />
        </label>

        <div class="contenedor-botones">
          <button class="boton" type="submit">Agregar Producto</button>
          <button class="boton" type="reset">Limpiar</button>
        </div>
      </form>
    </main>

    <%- include('partials/admin_footer') -%>
  </body>
</html>
