<!DOCTYPE html>
<html lang="en">
  <%-include('partials/head.ejs', {titulo}) %>

  <body>
    <%- include('partials/header') -%>
    <main>
      <h1> <%= error.msj %></h1>
    </main>

    <%- include('partials/footer') -%>
  </body>
</html>
