<header>
  <nav class="navbar container" aria-label="Administración">
    <picture class="navbar__logo">
      <a href="/">
        <img
          src="/multimedia/branding/logo_light_horizontal.svg"
          alt="logo del ecommer"
        />
      </a>
    </picture>
    <button
      type="button"
      class="navbar__toggle"
      aria-label="Abrir o cerrar menú"
      aria-expanded="false"
      aria-controls="primary-navigation"
    >
      <span class="navbar__toggle-bar" aria-hidden="true"></span>
      <span class="navbar__toggle-bar" aria-hidden="true"></span>
      <span class="navbar__toggle-bar" aria-hidden="true"></span>
    </button>
    <ul class="navbar__menu" id="primary-navigation">
      <li class="navbar__item">
        <a class="navbar__link with-icon" href="/shop">VER TIENDA </a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/admin">ADMIN </a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/login/logout">SALIR </a>
      </li>
    </ul>
  </nav>
</header>
