<header>
  <nav class="navbar container">
    <picture class="navbar__logo">
      <a href="/">
        <img
          src="/multimedia/branding/logo_light_horizontal.svg"
          alt="logo del ecommer"
        />
      </a>
    </picture>
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a class="navbar__link with-icon" href="/shop">VER TIENDA </a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/admin">ADMIN </a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/">SALIR </a>
      </li>
    </ul>
  </nav>
</header>
