<li class="producto-lista-item">
  <article class="producto-articulo">
    <p class="producto-id"><%= card.product_id %></p>
    <p class="producto-sku"><%= card.product_sku %></p>
    <h4 class="producto-name"><%= card.product_name %></h4>
    <p class="producto-collection"><%= card.collection_name %></p>
    <div class="botones">
      <button class="botones editar">
        <iconify-icon
          icon="ic:baseline-edit"
          style="color: #1d84b5"
          width="24.37"
          height="25.09"
        ></iconify-icon>
      </button>
      <button class="botones eliminar">
        <iconify-icon
          icon="material-symbols:delete-rounded"
          style="color: #f33"
          width="34"
          height="34"
        ></iconify-icon>
      </button>
    </div>
  </article>
</li>
