
<div class="glide__arrows" data-glide-el="controls">
    <button 
        class="glide__arrow glide__arrow--left" 
        data-glide-dir="<">
            <iconify-icon icon="material-symbols:chevron-left"></iconify-icon>
    </button>
    <button class="glide__arrow glide__arrow--right" 
        data-glide-dir=">"><iconify-icon icon="material-symbols:chevron-right"></iconify-icon>
    </button>
</div>