<header>
  <nav class="navbar container">
    <picture class="navbar__logo">
      <a href="/">
        <img
          src="/multimedia/branding/logo_light_horizontal.svg"
          alt="logo del ecommer"
        />
      </a>
    </picture>
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a class="navbar__link with-icon" href="/shop"
          >SHOP<iconify-icon icon="bi:chevron-down"> </iconify-icon>
        </a>
        <ul class="submenu">
          <li class="submenu__link">Funkos</li>
          <li class="submenu__link">Remeras</li>
          <li class="submenu__link">Llaveros</li>
        </ul>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/contact">CONTACTO </a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/login">LOGIN </a>
      </li>
      <li class="navbar__item">
        <a class="navbar__cart" href="/shop/cart">
          <img
            src="/multimedia/icons/cart-icon.svg"
            alt="carrito de compra"
          />
        </a>
      </li>
    </ul>
  </nav>
</header>
