<section class="hero">
    <!-- section banner usar un background-->
    <article class="hero__content container">
        <h3 class="hero__title">Nuevos Ingresos</h3>
        <p class="hero__text">Descubrí el próximo Funko Pop de tu colección</p>
        <a class="hero__link" href="/shop">SHOP</a>
    </article>
</section>