<footer class="footer">
  <nav class="navbar container">
    <ul>
      <li class="navbar__item">
        <a class="navbar__link" href="/shop"> SHOP </a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/login/register"> REGISTER </a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/login"> LOGIN </a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/contact"> CONTACTO </a>
      </li>
    </ul>
    <figure>
      <a href="/">
        <img
          src="/src/multimedia/branding/logo_light_horizontal.svg"
          alt="logo del ecommer"
        />
      </a>
    </figure>
  </nav>
  <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy</p>
</footer>
