<section class="main__pagination">
    <!-- paginacion -->
    <div class="pages">
        <a class="link_pages" href="#" ></a>
        <a class="link_pages link_pages1" href="#" >1</a>
        <a class="link_pages" href="#" >2</a>
        <a class="link_pages" href="#" >3</a>
        <a class="link_pages" href="#" >4</a>
        <a class="link_pages" href="#" >5</a>
        <a class="link_pages" href="#" >></a>
    </div>
</section>