<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="../../carrito.css" />

    <title>CARRITO</title>
  </head>
  <body>
    <%- include('partials/header') -%>

    <main class="carrito">
      <h1 class="carrito-titulo">CARRITO DE COMPRAS</h1>

      <div class="carrito-tabla">
        <div class="carrito-tabla-h">
          <div class="carrito-tabla-h-text">Detalle de Producto</div>
          <div class="carrito-tabla-h-text">Cantidad</div>
          <div class="carrito-tabla-h-text">Total</div>
        </div>

        <div class="carrito-tabla-item">
          <div class="carrito-item">
            <img
              class="item-imagen"
              img
              src="/src/multimedia/star-wars/baby-yoda-1.webp"
              alt="Producto"
            />
            <div>
              <h2 class="item-texto-titulo">BABY YODA BLUEBALL</h2>
              <p class="item-texto-licencia">STARS WARS</p>
              <p class="item-texto-precio">Precio: $1799,99</p>
            </div>
          </div>
          <div class="item-card">
            <input
              class="item-input"
              type="text"
              name="quantity"
              id="quantity1"
              placeholder="0"
            />
            <div>
              <button id="add1" class="item__quantityadd" type="button">
                +
              </button>
              <button
                id="substract1"
                class="item__quantitysubtract"
                type="button"
              >
                -
              </button>
            </div>
          </div>

          <div class="carrito-tabla-total">
            <p>$ 3599,98</p>
          </div>
          <button class="carrito-tabla-boton">
            <img src="/src/multimedia/icons/gg_close-o.svg" alt="" />
          </button>
        </div>

        <div class="carrito-tabla-item">
          <div class="carrito-item">
            <img
              class="item-imagen"
              src="/src/multimedia/pokemon/pidgeotto-1.webp"
              alt="Producto"
            />
            <div>
              <h2 class="item-texto-titulo">PIDGEOTTO</h2>
              <p class="item-texto-licencia">POKEMON</p>
              <p class="item-texto-precio">Precio: $1799,99</p>
            </div>
          </div>
          <div class="item-card">
            <input
              class="item-input"
              type="text"
              name="quantity"
              id="quantity2"
              placeholder="0"
            />
            <div>
              <button id="add2" class="item__quantityadd" type="button">
                +
              </button>
              <button
                id="substract2"
                class="item__quantitysubtract"
                type="button"
              >
                -
              </button>
            </div>
          </div>

          <div class="carrito-tabla-total">
            <p>$ 1799,99</p>
          </div>
          <button class="carrito-tabla-boton">
            <img src="/src/multimedia/icons/gg_close-o.svg" alt="" />
          </button>
        </div>
      </div>

      <section class="total container">
        <article class="total-grid">
          <div>
            <h2 class="carrito-titulo">RESUMEN</h2>
          </div>
          <div class="total-card">
            <div class="total-grupo-card">
              <div class="total-descri-card">
                <span>CANTIDAD DE ELEMENTOS</span>
                <span>SUBTOTAL</span>
                <span>ENVIO</span>
              </div>
              <div class="total-precio-card">
                <span>3</span>
                <span>$5.399,97</span>
                <span>$0,00</span>
              </div>
            </div>
            <div class="total-grupo-card total-grupo-card-cont">
              <span>TOTAL</span>
              <span>$5.399,97</span>
            </div>
          </div>

          <a class="total-item-boton" href="#">IR A PAGAR</a>
        </article>
      </section>
    </main>

    <%- include('partials/footer') -%>

    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <script type="js" src="./src/js/glide.js"></script>
  </body>
</html>
