<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>CONTACTO</title>
  </head>
  <body>
    <%- include('partials/header') -%>
    <main>CONTACTO</main>

    <%- include('partials/footer') -%>
  </body>
</html>
