<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>LOGIN</title>
  </head>
  <body>
    <%- include('partials/header') -%>
    <main>
      <section class="login-container">
        <h2>INGRESAR A MI CUENTA</h2>
        <div class="cont-1">
          <label class="email"
            >Email: <input type="text" class="email-input"
          /></label>
        </div>
        <div class="cont-2">
          <label class="pass"
            >Contraseña: <input type="password" class="pass-input"
          /></label>
        </div>
        <div class="cont-3">
          <button>Ingresar</button>
          <label class="label-check"
            ><input type="checkbox" class="check-input" />Recordarme</label
          >
        </div>
        <a href="">Olvide mi Contraseña</a>
      </section>
    </main>

    <%- include('partials/footer') -%>
  </body>
</html>
